.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #da9100;
}

.footer-icon {
  width: 25px;
  height: 25px;
}

.footer-text {
  margin-top: 0.5rem;
}

.foot_bo a {
  text-decoration: none;
  color: #000;
}

.foot_bo a:hover {
  color: darkgreen;
}

/* Ensure items stack vertically and center on small screens */
@media (max-width: 576px) {
  .footer .row {
    text-align: center;
  }

  .footer .col {
    margin-bottom: 0.1rem;
  }

  .footer-text {
    margin-top: 0.5rem;
  }

  .footer-icon {
    width: 20px;
    height: 20px;
  }
}
