/* .custom-button {
  background-color: #28a745;
  border: 1px solid #28a745;
  color: white;
  transition: background-color 0.3s ease;
} */

.custom-button:hover {
  background-color: #b4ffc4;
  border-color: #1e7e34;
  color: white;
}
